# Visual Studio
.vs/
*.user
*.suo

# Build
**/bin/
**/obj/

# Node
**/node_modules/
**/dist/

# Logs
*.log

# Environment
.env
.env.*

# OS
Thumbs.db
Desktop.ini

# Uploads (optional if you don't want uploaded files in Git)
root-uploads-members/

# Publish
out/
publish/